
/* Generic Highlighting */

.slate-error {
    color: #e33;
}

/* Syntax Highlighting */

.slate-null {
    color: #b97;
}
.slate-undefined {
    color: #88a;
}
.slate-boolean {
    color: #b71;
}
.slate-string {
    color: #3c6;
}
.slate-number {
    color: #d51;
}

/* directory */

.slate-hidden-directory {
    color: #3a3;
}
.slate-hidden-file {
    color: #46c;
}
.slate-directory {
    color: #6e6;
}
.slate-file {
    color: #7bf;
}

/* Object / Prototype */

.slate-prototype-function {
    color: #795598;
}
.slate-prototype-property {
    color: #3a5a9a;
}
.slate-object-function {
    color: #533072;
}
.slate-object-property {
    color: #304668;
}

