@charset "utf-8";

/*
 * Standard colours for all keys.
 *
 * Override these to get different highlighting.
 */
.clavier-background {
    background: #eee;
}

.clavier-key,
.clavier-key:hover,
.clavier-key:active,
.clavier-key:focus,
.clavier-key:visited {
    background: #ff2377;
    color: #fff;
}
.clavier-key.highlight {
    background: #ccc;
    color: #000;
}

.clavier-key.control,
.clavier-key.control:active,
.clavier-key.control:focus,
.clavier-key.control:visited {
    background: transparent;
    color: #ff2377;
}
.clavier-key.control.highlight {
    color: #000;
}

/*
 * Clavier structure it's self.
 */
.clavier {
    width: 100%;
    height: 240px;

    position: absolute;
}
.clavier.fixed {
    position: fixed;

    -webkit-transition: top 200ms ease-out;
    -moz-transition: top 200ms ease-out;
    transition: top 200ms ease-out;

    top: 100%;
}
    .clavier-left,
    .clavier-right {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 340px;

        border-radius: 3px;
    }
    .clavier-left {
        left: 0;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .clavier-right {
        right: 0;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
        .clavier-keys {
            position: absolute;

            display: block;

            top: 0;
            bottom: 0;
        }
            .clavier-keys-inner {
                position: absolute;

                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 2px;

                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                text-align: right;

                display: none;
            }
            .clavier-keys-inner.show { 
                display: block;
            }
                .clavier-keys-row {
                    position: relative;
                    height: 57px;
                    margin-bottom: 2px;
                }
                .clavier-left .clavier-keys-row {
                    text-align: left;
                }
                .clavier-right .clavier-keys-row {
                    text-align: right;
                }
                .clavier-keys-row.top {
                    right: 0;
                }
                .clavier-right .clavier-keys-row.middle {
                    right: 0;
                }
                .clavier-right .clavier-keys-row.bottom {
                    right: 0;
                }
                    .clavier-key,
                    .clavier-key:hover,
                    .clavier-key:active,
                    .clavier-key:focus,
                    .clavier-key:visited {
                        border-radius: 1px;
                        text-decoration: none;
                    }
                    .clavier-key {
                        font-family: "segoe ui light", "helvetica";
                        font-weight: 900;
                        font-size: 18px;

                        -webkit-transition:
                                background 150ms linear, 
                                color 150ms linear; 
                        -moz-transition:
                                background 150ms linear, 
                                color 150ms linear; 
                        transition:
                                background 150ms linear, 
                                color 150ms linear; 

                        text-align: center;
                        width: 44px;

                        vertical-align: middle;
                        line-height: 55px;
                        margin: 2px;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        display: inline-block;
                    }

                    .clavier-key.control {
                        padding: 0 16px;
                        width: auto;
                        auto-width: 44px;
                    }
                    .clavier-key.control,
                    .clavier-key.control:active,
                    .clavier-key.control:focus,
                    .clavier-key.control:visited {
                        border-radius: 0;
                    }
                    .clavier-key.left-node,
                    .clavier-key.right-node,
                    .clavier-key.up-node,
                    .clavier-key.down-node,
                    .clavier-key.left,
                    .clavier-key.right {
                        padding: 0;
                    }
                    .clavier-key.left-node,
                    .clavier-key.right-node,
                    .clavier-key.left,
                    .clavier-key.right {
                        width: 39px;
                    }
                    .clavier-key.up-node,
                    .clavier-key.down-node {
                        width: 41px;
                    }
                    .clavier-key.right {
                        margin-right: 1px;
                    }
                    .clavier-key.control {
                        background: transparent;
                    }
                    .clavier-keys-row > .clavier-key.highlight,
                    .clavier-key.highlight {
                        -webkit-transition: none;
                        -moz-transition: none;
                        transition: none;
                    }

                    .clavier-key.backspace {
                        width: 84px;
                    }
                    .clavier-left .clavier-key.shift,
                    .clavier-right .clavier-key.shift {
                        width: 88px;
                    }

                    .clavier-key.close {
                        margin-left: 19px;
                        min-width: 50px;
                    }
                    .clavier-key.space {
                        position: absolute;
                        width: 160px;
                    }
                    .clavier-left .clavier-key.space {
                        right: 0;
                    }
                    .clavier-right .clavier-key.space {
                        left: 0;
                    }
