
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

/*
 * Standard colours for all keys.
 *
 * Override these to get different highlighting.
 */
.clavier-background {
    background: #1a1a1a;
    color: #fff;
}

.clavier-key,
.clavier-key:hover,
.clavier-key:active,
.clavier-key:focus,
.clavier-key:visited {
    background: #ff2377;

    color: #111;
    background: #aa0f33;

    font-family: "Oxygen Mono", "segoe ui light", "helvetica";
    font-weight: 900;
    font-size: 21px;
}
.clavier-key.highlight {
    background: #fff;
    color: #aa0f33;
}

.clavier-key.control,
.clavier-key.control:active,
.clavier-key.control:focus,
.clavier-key.control:visited {
    background: transparent;
    color: #666;

    font-weight: 400;

    border: 1px solid #1a1a1a;
    border-radius: 2px;
}
.clavier-key.control.highlight {
    border-color: #fff;
    color: #fff;
}

.clavier-key.control.highlight-border {
    background: #666;
    color: #fff;
}

/*
 * Clavier structure it's self.
 */
.clavier {
    width: 100%;
    height: 240px;

    position: absolute;
}

.clavier.fixed {
    position: fixed;

    -webkit-transition: -webkit-transform 200ms ease-out;
    -moz-transition: -moz-transform 200ms ease-out;
    transition: transform 200ms ease-out;

    top: 100%;
}
    .clavier-left,
    .clavier-right {
        position: absolute;
        top: 0;
        bottom: 0;

        width: 340px;
    }
    .clavier-left {
        left: 0;

        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .clavier-right {
        right: 0;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
        .clavier-keys {
            position: absolute;

            display: block;

            top: 0;
            bottom: 0;
        }
            .clavier-keys-inner {
                position: absolute;

                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 2px;

                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                text-align: right;

                display: none;
            }
            .clavier-keys-inner.show { 
                display: block;
            }
                .clavier-keys-row {
                    position: relative;
                    height: 57px;
                    margin-bottom: 2px;
                }
                .clavier-left .clavier-keys-row {
                    text-align: left;
                }
                .clavier-right .clavier-keys-row {
                    text-align: right;
                }
                .clavier-keys-row.top {
                    right: 0;
                }
                .clavier-right .clavier-keys-row.middle {
                    right: 0;
                }
                .clavier-right .clavier-keys-row.bottom {
                    right: 0;
                }
                    .clavier-key,
                    .clavier-key:hover,
                    .clavier-key:active,
                    .clavier-key:focus,
                    .clavier-key:visited {
                        text-decoration: none;
                    }
                    .clavier-key {
                        -webkit-touch-callout: none !important;
                        -webkit-user-select: none !important;
                         -khtml-user-select: none !important;
                           -moz-user-select: none !important;
                                user-select: none !important;

                        -webkit-transition:
                                background 100ms linear, 
                                color 100ms linear; 
                        -moz-transition:
                                background 100ms linear, 
                                color 100ms linear; 
                        transition:
                                background 100ms linear, 
                                color 100ms linear; 

                        text-align: center;
                        width: 44px;

                        vertical-align: middle;
                        line-height: 53px;
                        margin: 2px;
                        -moz-box-sizing: border-box;
                             box-sizing: border-box;
                        display: inline-block;

                        padding-bottom: 2px;
                    }

                    .clavier-key.control {
                        padding: 0 16px;
                        width: auto;
                        auto-width: 44px;
                    }
                    .clavier-key.control,
                    .clavier-key.control:active,
                    .clavier-key.control:focus,
                    .clavier-key.control:visited {
                    }
                    .clavier-key.left-node,
                    .clavier-key.right-node,
                    .clavier-key.up-node,
                    .clavier-key.down-node,
                    .clavier-key.left,
                    .clavier-key.right,
                    .clavier-key.close {
                        font-family: "segoe ui light", "helvetica";
                        padding: 0;
                    }
                    .clavier-key.left-node,
                    .clavier-key.right-node,
                    .clavier-key.left,
                    .clavier-key.right {
                        width: 39px;
                    }
                    .clavier-key.up-node,
                    .clavier-key.down-node {
                        width: 41px;
                    }
                    .clavier-key.right {
                        margin-right: 1px;
                    }
                    .clavier-key.control {
                        background: transparent;

                        -webkit-transition:
                                border 30ms linear,
                                background 30ms linear,
                                color 30ms linear;
                        -moz-transition:
                                border 30ms linear,
                                background 30ms linear,
                                color 30ms linear;
                        transition:
                                border 30ms linear,
                                background 30ms linear,
                                color 30ms linear;
                    }
                    .clavier-keys-row > .clavier-key.highlight,
                    .clavier-key.highlight {
                        -webkit-transition: none;
                        -moz-transition: none;
                        transition: none;
                    }

                    .clavier-key.backspace {
                        width: 84px;
                    }
                    .clavier-left .clavier-key.shift,
                    .clavier-right .clavier-key.shift {
                        width: 88px;
                    }

                    .clavier-key.close {
                        margin-left: 19px;
                        min-width: 50px;
                        font-size: 32px;
                        line-height: 48px;
                        padding-bottom: 7px;
                    }
                    .clavier-key.space {
                        position: absolute;
                        width: 150px;
                    }
                    .clavier-left .clavier-key.space {
                        right: 0;
                    }
                    .clavier-right .clavier-key.space {
                        left: 0;
                    }
