
.touch-bar-wrap {
    width : 100% ;
    height: 200px;

    position: relative;

    color: #eee;
    font-weight: 100;
    font-family: 'Segoe UI', 'Segoe WP', 'Helvetica Neue', Roboto, sans-serif;

    background: #1a1a1a;
}
.touch-bar-wrap *:not( input ) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.touch-controls,
.touch-bar {
    position: absolute;
    top: 0;
    bottom: 0;
}
.touch-controls {
    top: -4px;
    bottom: 0px;
    right: 0;
    width: 150px;

    overflow: hidden;

    box-shadow: -3px 0 9px rgba( 0, 0, 0, 0.6 );
}
    .touch-controls,
    .touch-controls > a:first-of-type {
        border-top-left-radius: 6px;
    }
    .touch-controls > a {
        width: 100%;
        height: 51px;
        line-height: 51px;
        
        text-align: center;
        vertical-align: middle;
        display: inline-block;

        float: left;
        clear: both;

        color: black;

        font-size  : 21px;
        font-weight: 100;
    }
    .touch-controls > a.disabled {
        color: #777;
        background: #ccc;
    }

    .touch-controls-run:before   {    content: 'run';   }
    .touch-controls-run          { background: #78A68F; }
    .touch-controls-run:hover    { background: #70CC9E; }

    .touch-controls-redo:before  {    content: 'redo';  }
    .touch-controls-redo         { background: #CBD49C; }
    .touch-controls-redo:hover   { background: #DCE8A0; }

    .touch-controls-undo:before  {    content: 'undo';  }
    .touch-controls-undo         { background: #FED457; }
    .touch-controls-undo:hover   { background: #FFDD78; }

    .touch-controls-clear:before {    content: 'clear'; }
    .touch-controls-clear        { background: #CB252A; }
    .touch-controls-clear:hover  { background: #CC4348; }

.touch-bar {
    position: absolute;
    left: 0;
    right: 145px;
}
    .touch-bar-row {
        text-align: center;
        position: absolute;
        left: 0;

        min-width: 100%;
        max-width: 100%;

        overflow: hidden;
        overflow-x: scroll;

        -webkit-overflow-scrolling: touch;

        height: 50px;
    }
    .touch-bar-row.upper {
        top: 100px;
    }
    .touch-bar-row.lower {
        top: 150px;
    }
        .touch-bar-row-inner {
            display: none;
            overflow: hidden;
            height: 100%;
        }
        .touch-bar-row-inner.show {
            display: inline-block;
        }
        .touch-bar-button {
            line-height: 40px;
            vertical-align: middle;

            padding: 0 12px;
            font-size: 21px;
            color: white;

            border: 1px solid #555;
            border-bottom: 0 none;
            border-top: 0 none;

            background: none;

            -webkit-touch-callout: none;
        }
        .touch-bar-button,
        .touch-bar-button:active,
        .touch-bar-button:focus,
        .touch-bar-button:visited,
        .touch-bar-button:hover {
            outline: 0;
        }
        .touch-bar-button:hover {
            background: rgba( 255, 255, 255, 0.04 )
        }
        .touch-bar-button:first-of-type {
            border-left: 0 none;
        }
        .touch-bar-button:last-of-type {
            border-right: 0 none;
        }
        .touch-small {
            font-size: 10px;
            color: #444;

            position: relative;
            bottom: 3px;
        }

    .touch-bar-view {
        line-height: 95px;
        height: 100px;
        width : 100%;

        position: absolute;
        top: 0;

        text-align: center;

        white-space: pre;
        overflow: hidden;
        overflow-x: scroll;

        -webkit-overflow-scrolling: touch;
    }
    .touch-input-measure-div,
    .touch-ast,
    .touch-ast-input > input,
    .touch-ast-text {
        display: inline-block;

        height: 50px;
        line-height: 42px;

        -moz-box-sizing: border-box;
             box-sizing: border-box;

        font-size: 21px;
        font-weight: 400;

        vertical-align: top;

        padding: 0 4px;

        margin-top : -1px;
        margin-left: -1px;
        border: 1px solid transparent;
        border-radius: 3px;

        -webkit-transition:
                background 150ms linear,
                border 150ms linear,
                color 150ms linear;
        -moz-transition:
                background 150ms linear,
                border 150ms linear,
                color 150ms linear;
        -o-transition:
                background 150ms linear,
                border 150ms linear,
                color 150ms linear;
        transition:
                background 150ms linear,
                border 150ms linear,
                color 150ms linear;
    }
    .touch-ast {
        position: relative;

        color: white;
        min-width: 32px;

        cursor: pointer;
    }
    .touch-ast.error {
        background: #A60300 !important;
    }
        .touch-ast.error,
        .touch-ast.error > .touch-ast-text,
        .touch-ast.error > input {
            color: #F0AE33 !important;
        }

        .touch-ast-delete:before {
            content: '\0003A7';
        }
        .touch-ast-delete {
            -webkit-transition:
                    width  100ms linear,
                    height 100ms linear,
                    border 100ms linear,
                    top    100ms linear,
                    left   100ms linear;
            -moz-transition:
                    width  100ms linear,
                    height 100ms linear,
                    border 100ms linear,
                    top    100ms linear,
                    left   100ms linear;
            -ms-transition:
                    width  100ms linear,
                    height 100ms linear,
                    border 100ms linear,
                    top    100ms linear,
                    left   100ms linear;
            transition:
                    width  100ms linear,
                    height 100ms linear,
                    border 100ms linear,
                    top    100ms linear,
                    left   100ms linear;
                    
            width : 0;
            height: 0;

            top : -2px;
            left: 12px;

            overflow: hidden;

            line-height: 18px;
            text-align: center;
            vertical-align: middle;

            position: absolute;

            border-radius: 100px;
            background: #421D1D;

            border: 0 solid #C9BBA1;
            color: #C9BBA1;

            font-size: 15px;
            font-weight: 900;

            z-index: 100;
        }
        .touch-ast.select > .touch-ast-delete {
            width : 18px;
            height: 18px;

            top : -11px;
            left:   3px;

            border-width: 2px;
        }

    .touch-ast-text,
    .touch-ast-input > input,
    .touch-bar-view > .touch-ast {
        vertical-align: middle;
    }
    .touch-ast-text {
        color: #666;
    }
    .touch-ast.select,
    .touch-ast-text.select {
    }
    .touch-ast.select {
        background: #111;
    }

    .touch-ast-empty {
        background: transparent;
        color: #444;
        line-height: 46px;
        font-size: 14px;
    }
    .touch-ast-empty.select {
        color: #f0b639;
    }
    .touch-ast-op {
    }
        .touch-ast.select > .touch-ast-op-text,
        .touch-ast.select-parent > .touch-ast-op-text {
            color: #e08000;
        }
        .touch-ast.select > .touch-ast .touch-ast,
        .touch-ast.select > .touch-ast .touch-ast-text {
            color: #3a3a3a;
        }
    .touch-ast-op.select {
    }
        .touch-ast.select > .touch-ast-number         >  input,
        .touch-ast.select > .touch-ast-number         > .touch-ast-text,
                            .touch-ast-number.select  >  input,
                            .touch-ast-number.select  > .touch-ast-text
        {
            color: #b51;
        }
                            .touch-ast-literal.select > .touch-ast-text,
        .touch-ast.select > .touch-ast-string         >  input,
        .touch-ast.select > .touch-ast-string         > .touch-ast-text,
                            .touch-ast-string.select  >  input,
                            .touch-ast-string.select  > .touch-ast-text
        {
            color: #18AD18;
        }
        .touch-ast.select > .touch-ast-regexp         >  input,
        .touch-ast.select > .touch-ast-regexp         > .touch-ast-text,
                            .touch-ast-regexp.select  >  input,
                            .touch-ast-regexp.select  > .touch-ast-text
        {
            color: #8E40B8;
        }
        .touch-ast.select > .touch-ast-variable         >  input,
        .touch-ast.select > .touch-ast-variable         > .touch-ast-text,
                            .touch-ast-variable.select  >  input,
                            .touch-ast-variable.select  > .touch-ast-text
        {
            color: #52CC97;
        }
    .touch-ast-literal {
    }
        .touch-ast-literal.select > .touch-ast-text,
        .touch-ast.select-parent > .touch-ast-literal > .touch-ast-text,
        .touch-ast.select > .touch-ast-literal > .touch-ast-text {
            color: #369;
        }

    .touch-ast.select-parent > .touch-ast-left-paren,
    .touch-ast.select-parent > .touch-ast-right-paren,
    .touch-ast.select > .touch-ast-left-paren,
    .touch-ast.select > .touch-ast-right-paren {
        color: #aaa;
    }

    .touch-ast-left-paren,
    .touch-ast-right-paren {
        color: #444;
        font-size: 32px;
    }
    .touch-bar-view > .touch-ast > .touch-ast-left-paren,
    .touch-bar-view > .touch-ast > .touch-ast-right-paren {
        display: none;
    }
    .touch-ast-left-paren {
        padding-right: 0;
    }
    .touch-ast-right-paren {
        padding-left: 0;
    }
    .touch-ast-op.select > .touch-ast .touch-ast-left-paren,
    .touch-ast-op.select > .touch-ast .touch-ast-right-paren,
    .touch-ast-op.select > .touch-ast .touch-ast-empty {
        color: #242424;
    }

    .touch-ast-input {
        cursor: text;
    }
        .touch-ast-input > input {
            min-width:   4px;
                width:   4px;
            max-width: 200px;

            -moz-box-sizing: content-box;
            box-sizing: content-box;

            background: transparent;
            border: none;

            vertical-align: middle;
        }
        .touch-ast-input > input.multi-change {
            -webkit-transition:
                    width 50ms linear,
                    background 150ms linear,
                    border 150ms linear,
                    color 150ms linear;
            -moz-transition:
                    width 50ms linear,
                    background 150ms linear,
                    border 150ms linear,
                    color 150ms linear;
            -ms-transition:
                    width 50ms linear,
                    background 150ms linear,
                    border 150ms linear,
                    color 150ms linear;
            -o-transition:
                    width 50ms linear,
                    background 150ms linear,
                    border 150ms linear,
                    color 150ms linear;
            transition:
                    width 50ms linear,
                    background 150ms linear,
                    border 150ms linear,
                    color 150ms linear;
        }

.touch-input-measure {
    width : 0 !important;
    height: 0 !important;

    padding : 0 !important;
    margin  : 0 !important;

    overflow  : hidden;
    visibility: hidden;
    position  : fixed;

    top : 0;
    left: 0;
}
    .touch-input-measure-div {
        white-space: pre;

        padding: 0 !important;
        margin : 0 !important;

        position: absolute;
        left: 0;
        top : 0;

        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
    }

