
.transient-menu {
    position: relative;
    display: inline-block;
}
.transient-menu.show {
}
    .transient-menu-list {
        width : 100%;
        height: 100%;

        overflow-x: hidden;
        overflow-y: scroll;

        background: #1a1a1a;

        -webkit-transition:
                100ms background linear 0s;
    }
    .transient-menu:not(.show) > .transient-menu-list {
        background: transparent !important;
    }
        .transient-menu-item {
            width : 100%;
            height: 100%;

            float: left;
            clear: both;

            vertical-align: middle;
            text-align: center;

            padding: 12px 0;
        }
        .transient-menu-item.disable *,
        .transient-menu-item.disable {
            color: #555 !important;
        }
